.text-center{
    text-align: center;
}
.star-rating{
    display: flex;
    flex-direction: row-reverse;
    font-size: 2.25rem;
    line-height: 2.5rem;
    justify-content: space-around;
    text-align: center;
    direction: rtl;
    border: 0;
    
    input{
        display: none;
    }
    label{
        color: transparent;
        cursor: pointer;
        text-shadow: 0 0 0 lightgray;
    }
}