<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.exciting.dto.OrderDTO" alias="orderDTO" />
		<typeAlias type="com.exciting.dto.AimageDTO" alias="aimageDTO" />
		<typeAlias type="com.exciting.dto.AmusementDTO" alias="amusementDTO" />
		<typeAlias type="com.exciting.dto.AmusementAimageDTO" alias="amusementAimageDTO" />
		<typeAlias type="com.exciting.dto.AmuseReviewDTO" alias="amuseReviewDTO" />
		<typeAlias type="com.exciting.dto.FacilityDTO" alias="facilityDTO" />
		<typeAlias type="com.exciting.dto.RidesDTO" alias="ridesDTO" />
		<typeAlias type="com.exciting.dto.PromotionDTO" alias="promotionDTO" />
		<typeAlias type="com.exciting.dto.SelectedDTO" alias="selectedDTO" />
		<typeAlias type="com.exciting.dto.MemberDTO" alias="memberDTO" />
		<typeAlias type="com.exciting.dto.OrderDetailDTO" alias="orderDetailDTO" />
		<typeAlias type="com.exciting.dto.SelectedAmusementAimageDTO" alias="selectedAmusementAimageDTO" />
		<typeAlias type="com.exciting.dto.MypageDTO" alias="mypageDTO" />
		<typeAlias type="com.exciting.dto.PagingDTO" alias="pagingDTO" />
		<typeAlias type="com.exciting.dto.Criteria" alias="criteria" />
		<typeAlias type="com.exciting.dto.MypointDTO" alias="mypointDTO" />
		<typeAlias type="com.exciting.dto.ChatDTO" alias="chatDTO" />
		<typeAlias type="com.exciting.dto.AlarmDTO" alias="AlarmDTO" />
		<typeAlias type="com.exciting.dto.PointDTO" alias="pointDTO" />
		<typeAlias type="com.exciting.dto.TicketDTO" alias="ticketDTO" />
	</typeAliases>

	<mappers>
		<mapper resource="/sqlmap/mapper/boardMapper.xml" />
		<mapper resource="/sqlmap/mapper/amusement-mapper.xml" />
		<mapper resource="/sqlmap/mapper/PromotionMapper.xml" />
		<mapper resource="/sqlmap/mapper/selected-mapper.xml" />
		<mapper resource="/sqlmap/mapper/LoginMapper.xml" />
		<mapper resource="/sqlmap/mapper/selected-mapper.xml" />
		<mapper resource="/sqlmap/mapper/PromotionTempMapper.xml" />
		<mapper resource="/sqlmap/mapper/exciting-mapper.xml" />
		<mapper resource="/sqlmap/mapper/TimeMapper.xml" />
		<mapper resource="/sqlmap/mapper/MypageMapper.xml" />
		<mapper resource="/sqlmap/mapper/adminMapper.xml" />
		<mapper resource="/sqlmap/mapper/customerService.xml" />
		
			
	</mappers>

</configuration>